<div class="container">
    <div class="row">
        <h2 class="row-title">Trending Articles</h2> 
        <div class="row">
            {{#each article}}
                <h2>{{title}}</h2>
                <h3>{{link}}</h3>
            {{/each}}
        </div>
    </div>
</div>
