.jumboimg{
    background-image:url(../images/gaming.gif); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: bottom; 
    min-height:500px;
}

.title{
    font-size:5em
}

.article-box{
    background-color:#666666;
    padding-top:20px;
    color:white;
}